h3
  span class='headicon headicon-baseinfo'
  | 基本信息
= render 'setting_breadcrumb', menu: '系统管理', sub_menu: '基本信息'

form.form-horizontal.form-ipc role='form'
  = render 'field_static', id: 'serial', label_text: '序列号'
  = render 'field_static', id: 'mac', label_text: 'MAC地址'
  = render 'field_static', id: 'manufacturer', label_text: '制造商'
  = render 'field_static', id: 'model', label_text: '型号'
  = render 'field_static', id: 'firmware', label_text: '固件'
  = render 'field_static', id: 'hardware', label_text: '硬件'
  = render 'field', id: 'device_name', label_text: '设备名称'
  = render 'field', id: 'comment', label_text: '设备说明'
  = render 'field', id: 'location', label_text: '设备位置'

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'