<div class="row setting-main" ng-controller="SettingController">
    <div class="col-sm-2 sidebar-mask"></div>
    <div class="col-sm-2">
        <!--#include file="_left_collapse.html" -->
    </div>
    <div class="col-sm-10 setting-content" ng-switch="type">
        <div class="setting-wrap base-info" ng-controller="BaseInfoController" ng-switch-when="base_info">
            <!--#include file="_base_info.html" -->
        </div>
        <div class="setting-wrap users" ng-controller="UsersController" ng-switch-when="users">
            <!--#include file="_users.html" -->
        </div>
        <div class="setting-wrap datetime-wrap" ng-controller="DateTimeController" ng-switch-when="datetime">
            <!--#include file="_datetime.html" -->
        </div>
        <div class="setting-wrap maintenance" ng-controller="MaintenanceController" ng-switch-when="maintenance">
            <!--#include file="_maintenance.html" -->
        </div>
        <div class="setting-wrap stream" ng-controller="StreamController" ng-switch-when="stream">
            <!--#include file="_stream.html" -->
        </div>
        <div class="setting-wrap image" ng-controller="ImageController" ng-switch-when="image">
            <!--#include file="_image.html" -->
        </div>
        <div class="setting-wrap privacy-block" ng-controller="PrivacyBlockController" ng-switch-when="privacy_block">
            <!--#include file="_privacy_block.html" -->
        </div>
        <div class="setting-wrap day-night-mode" ng-controller="DayNightModeController" ng-switch-when="day_night_mode">
            <!--#include file="_day_night_mode.html" -->
        </div>
        <div class="setting-wrap osd" ng-controller="OsdController" ng-switch-when="osd">
            <!--#include file="_osd.html" -->
        </div>
        <div class="setting-wrap interface" ng-controller="InterfaceController" ng-switch-when="interface">
            <!--#include file="_interface.html" -->
        </div>
        <div class="setting-wrap port" ng-controller="PortController" ng-switch-when="port">
            <!--#include file="_port.html" -->
        </div>
        <div class="setting-wrap input" ng-controller="InputController" ng-switch-when="input">
            <!--#include file="_input.html" -->
        </div>
        <div class="setting-wrap output" ng-controller="OutputController" ng-switch-when="output">
            <!--#include file="_output.html" -->
        </div>
        <div class="setting-wrap motion-detect" ng-controller="MotionDetectController" ng-switch-when="motion_detect">
            <!--#include file="_motion_detect.html" -->
        </div>
        <div class="setting-wrap video-coverage" ng-controller="VideoCoverageController" ng-switch-when="video_coverage">
            <!--#include file="_video_coverage.html" -->
        </div>
        <div class="setting-wrap event-process" ng-controller="EventProcessController" ng-switch-when="event_process">
            <!--#include file="_event_process.html" -->
        </div>
    </div>
    <div class="modal fade" id="msg_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body np">
                    <div class="alert nbm" ng-class="ajax_msg.type" role="alert">
                        {{ajax_msg.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
