h3
  span class='headicon headicon-event-process'
  | 事件联动
= render 'setting_breadcrumb', menu: '事件管理', sub_menu: '事件联动'

.form-ipc-bg.clearfix
  .row
    = render 'event_process_section', event_process_type: 'input1', title: '报警输入'
    = render 'event_process_section', event_process_type: 'motion', title: '移动侦测'
    = render 'event_process_section', event_process_type: 'cover', title: '视频遮挡'

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'