h3
  span class='headicon headicon-image'
  | 图像设置
= render 'setting_breadcrumb', menu: '视频管理', sub_menu: '图像设置'

form.form-horizontal.form-ipc.clearfix role='form'
  div.form-inline
    label.control-label for='watermark' 数字水印
    input.switch#watermark ng-bswitch='' type='checkbox' name='watermark' ng-model='watermark'
    label.control-label for='dnr' 3D降噪
    input.switch#dnr ng-bswitch='' type='checkbox' name='dnr' ng-model='dnr'
  .vlc-wrap style='margin: 10px auto;'
    object classid='clsid:9BE31822-FDAD-461B-AD51-BE1D1C159928' width='100%' height='100%' id='vlc' events='True' ng-error='playVlc()' codebase='/Project1.cab#version=1,0,0,0'
  hr
  .form-group
    label.col-sm-3.control-label 亮度
    .col-sm-5
      #brightness_slider ng-slider='' ng-model='brightness' min='0' max='255'
    .col-sm-4
      p.form-control-static
        span ng-bind='brightness'
        | &nbsp;(0 - 255)
  .form-group
    label.col-sm-3.control-label 色度
    .col-sm-5
      #chrominance_slider ng-slider='' ng-model='chrominance' min='0' max='255'
    .col-sm-4
      p.form-control-static
        span ng-bind='chrominance'
        | &nbsp;(0 - 255)
  .form-group
    label.col-sm-3.control-label 对比度
    .col-sm-5
      #contrast_slider ng-slider='' ng-model='contrast' min='0' max='255'
    .col-sm-4
      p.form-control-static
        span ng-bind='contrast'
        | &nbsp;(0 - 255)
  .form-group
    label.col-sm-3.control-label 饱和度
    .col-sm-5
      #saturation_slider ng-slider='' ng-model='saturation' min='0' max='255'
    .col-sm-4
      p.form-control-static
        span ng-bind='saturation'
        | &nbsp;(0 - 255)
  hr
  .form-group
    label.col-sm-3.control-label 场景
    .col-sm-9
      p.form-control-static
        input type='radio' id='scenario1' name='scenario' value='50Hz' ng-model='scenario' ng-icheck=''
        label.icheck-label for='scenario1' 50Hz
        input type='radio' id='scenario2' name='scenario' value='60Hz' ng-model='scenario' ng-icheck=''
        label.icheck-label for='scenario2' 60Hz
        input type='radio' id='scenario3' name='scenario' value='composite' ng-model='scenario' ng-icheck=''
        label.icheck-label for='scenario3' 混合
