h3
  span class='headicon headicon-interface'
  | 接口设置
= render 'setting_breadcrumb', menu: '网络管理', sub_menu: '接口设置'

form.form-horizontal.form-ipc role='form'
  .form-group
    label.col-sm-3.control-label for='network_method' 接入方式
    .col-sm-5
      select.form-control ng-model='method'
        option value='static' Static
        option value='dhcp' DHCP
        option value='pppoe' PPPOE
  hr
  = render 'field', id: 'network_username', label_text: '用户名', group_ng: {'ng-show' => 'canShow()'}
  = render 'field', id: 'network_password', type: 'password', label_text: '密码', group_ng: {'ng-show' => 'canShow()'}
  = render 'field', id: 'network_address', label_text: 'IP地址', input_ng: {'ng-disabled' => 'canEdit()'}
  = render 'field', id: 'network_netmask', label_text: '子网掩码', input_ng: {'ng-disabled' => 'canEdit()'}
  = render 'field', id: 'network_gateway', label_text: '网关地址', input_ng: {'ng-disabled' => 'canEdit()'}
  = render 'field', id: 'network_primary_dns', label_text: '主DNS', input_ng: {'ng-disabled' => 'canEdit()'}
  = render 'field', id: 'network_second_dns', label_text: '次DNS', input_ng: {'ng-disabled' => 'canEdit()'}

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'