.panel-group.sidebar#setting_group
  .panel.panel-default
    .panel-heading data-toggle="collapse" data-parent="#setting_group" data-target="#system"
      h4.panel-title
        .sidebaricon.sidebaricon-system
        | 系统管理
        i.fa.fa-caret-right.pull-right
        i.fa.fa-caret-down.pull-right
    .panel-collapse.collapse.in#system
      .panel-body
        ul.nav.nav-pills.nav-stacked role="tablist"
          li ng-class="{active: type=='base_info'}"
            a href="javascript:;" ng-click="changeType('base_info')" 基本信息
          li ng-class="{active: type=='users'}"
            a href="javascript:;" ng-click="changeType('users')" 用户管理
          li ng-class="{active: type=='datetime'}"
            a href="javascript:;" ng-click="changeType('datetime')" 日期时间
          li ng-class="{active: type=='maintenance'}"
            a href="javascript:;" ng-click="changeType('maintenance')" 系统维护
            
  .panel.panel-default
    .panel-heading.collapsed data-toggle="collapse" data-parent="#setting_group" data-target="#video"
      h4.panel-title
        .sidebaricon.sidebaricon-video
        | 视频管理
        i.fa.fa-caret-right.pull-right
        i.fa.fa-caret-down.pull-right
    .panel-collapse.collapse#video
      .panel-body
        ul.nav.nav-pills.nav-stacked role="tablist"
          li ng-class="{active: type=='stream'}"
            a href="javascript:;" ng-click="changeType('stream')" 视频流
          li ng-class="{active: type=='image'}"
            a href="javascript:;" ng-click="changeType('image')" 图像设置
          li ng-class="{active: type=='privacy_block'}"
            a href="javascript:;" ng-click="changeType('privacy_block')" 隐私遮盖
          li ng-class="{active: type=='day_night_mode'}"
            a href="javascript:;" ng-click="changeType('day_night_mode')" 日夜模式
            
  .panel.panel-default
    .panel-heading.collapsed data-toggle="collapse" data-parent="#setting_group" data-target="#osd"
      h4.panel-title
        .sidebaricon.sidebaricon-osd
        | OSD
        i.fa.fa-caret-right.pull-right
        i.fa.fa-caret-down.pull-right
    .panel-collapse.collapse#osd
      .panel-body
        ul.nav.nav-pills.nav-stacked role="tablist"
          li ng-class="{active: type=='osd'}"
            a href="javascript:;" ng-click="changeType('osd')" OSD
          li ng-class="{active: type=='szyc'}"
            a href="javascript:;" ng-click="changeType('szyc')" SZYC
            
  .panel.panel-default
    .panel-heading.collapsed data-toggle="collapse" data-parent="#setting_group" data-target="#network"
      h4.panel-title
        .sidebaricon.sidebaricon-network
        | 网络管理
        i.fa.fa-caret-right.pull-right
        i.fa.fa-caret-down.pull-right
    .panel-collapse.collapse#network
      .panel-body
        ul.nav.nav-pills.nav-stacked role="tablist"
          li ng-class="{active: type=='interface'}"
            a href="javascript:;" ng-click="changeType('interface')" 接口设置
          li ng-class="{active: type=='port'}"
            a href="javascript:;" ng-click="changeType('port')" 端口设置

  .panel.panel-default
    .panel-heading.collapsed data-toggle="collapse" data-parent="#setting_group" data-target="#event"
      h4.panel-title
        .sidebaricon.sidebaricon-event
        | 事件管理
        i.fa.fa-caret-right.pull-right
        i.fa.fa-caret-down.pull-right
    .panel-collapse.collapse#event
      .panel-body
        ul.nav.nav-pills.nav-stacked role="tablist"
          li ng-class="{active: type=='input'}"
            a href="javascript:;" ng-click="changeType('input')" 报警输入
          li ng-class="{active: type=='output'}"
            a href="javascript:;" ng-click="changeType('output')" 报警输出
          li ng-class="{active: type=='motion_detect'}"
            a href="javascript:;" ng-click="changeType('motion_detect')" 移动侦测
          li ng-class="{active: type=='video_coverage'}"
            a href="javascript:;" ng-click="changeType('video_coverage')" 视频遮挡
          li ng-class="{active: type=='event_process'}"
            a href="javascript:;" ng-click="changeType('event_process')" 事件联动

  / .panel.panel-default
  /   .panel-heading.collapsed data-toggle="collapse" data-parent="#setting_group" data-target="#recorder"
  /     h4.panel-title
  /       .sidebaricon.sidebaricon-recorder
  /       | 录像管理
  /       i.fa.fa-caret-right.pull-right
  /       i.fa.fa-caret-down.pull-right
  /   .panel-collapse.collapse#recorder
  /     .panel-body
  /       ul.nav.nav-pills.nav-stacked role="tablist"
  /         li ng-class="{active: type=='recorder_setting'}"
  /           a href="javascript:;" ng-click="changeType('recorder_setting')" 录像设置
  /         li ng-class="{active: type=='recorder_status'}"
  /           a href="javascript:;" ng-click="changeType('recorder_status')" 录像状态