h3
  span class='headicon headicon-maintenance'
  | 系统维护
= render 'setting_breadcrumb', menu: '系统管理', sub_menu: '系统维护'

form.form-horizontal.form-ipc role='form'
  .form-group
    .col-sm-3.text-right
      button.btn.btn-warning  type='button' ng-click='soft_reset()' 软复位
    .col-sm-5
      p.form-control-static 除网络参数外，恢复出厂设置
  .form-group
    .col-sm-3.text-right
      button.btn.btn-warning  type='button' ng-click='hard_reset()' 硬复位
    .col-sm-5
      p.form-control-static 恢复出厂设置
  .form-group
    .col-sm-3.text-right
      button.btn.btn-warning  type='button' ng-click='reboot()' 重启
    .col-sm-5
      p.form-control-static
  hr
  .form-group
    label.col-sm-3.control-label for='file_path' 固件升级
    .col-sm-5
      input.form-control#file_path type='file' name='file_path'
    .col-sm-3
      button.btn.btn-success ng-click='upload_file()'
        i.fa.fa-upload
        | &nbsp;上传
      span.text-danger style="margin-left:10px;" ng-bind='upload_msg'

.process-mask ng-class='{hide: !is_reboot}'
  .process-wrap.text-center
    ul.list-unstyled.list-inline
      li
        i.fa.step ng-class='{unstart: reboot_step < 1, underway: reboot_step == 1, completed: reboot_step > 1, "fa-check-circle": reboot_step > 1, "fa-circle-o": reboot_step <= 1}'
        div.text-center 重 启
      li.animation ng-class='{active: reboot_step == 1}'
        i.fa.fa-circle ng-class='{active: reboot_active_index == 1}'
        i.fa.fa-circle ng-class='{active: reboot_active_index == 2}'
        i.fa.fa-circle ng-class='{active: reboot_active_index == 3}'
      li
        i.fa.step ng-class='{unstart: reboot_step < 2, underway: reboot_step == 2, completed: reboot_step > 2, "fa-check-circle": reboot_step > 2, "fa-circle-o": reboot_step <= 2}'
        div.text-center 完 成
    .alert.alert-info 设备正在进行重启，30秒后自动刷新页面

.process-mask ng-class='{hide: !upgrading}'
  .process-wrap.text-center
    ul.list-unstyled.list-inline
      li
        i.fa.step ng-class='{unstart: step < 1, underway: step == 1, completed: step > 1, "fa-check-circle": step > 1, "fa-circle-o": step <= 1}'
        div.text-center 上 传
      li.animation ng-class='{active: step == 1}'
        i.fa.fa-circle ng-class='{active: activeIndex == 1}'
        i.fa.fa-circle ng-class='{active: activeIndex == 2}'
        i.fa.fa-circle ng-class='{active: activeIndex == 3}'
      li
        i.fa.step ng-class='{unstart: step < 2, underway: step == 2, completed: step > 2, "fa-check-circle": step > 2, "fa-circle-o": step <= 2}'
        div.text-center 校 验
      li.animation ng-class='{active: step == 2}'
        i.fa.fa-circle ng-class='{active: activeIndex == 1}'
        i.fa.fa-circle ng-class='{active: activeIndex == 2}'
        i.fa.fa-circle ng-class='{active: activeIndex == 3}'
      li
        i.fa.step ng-class='{unstart: step < 3, underway: step == 3, completed: step > 3, "fa-check-circle": step > 3, "fa-circle-o": step <= 3}'
        div.text-center 写 入
      li.animation ng-class='{active: step == 3}'
        i.fa.fa-circle ng-class='{active: activeIndex == 1}'
        i.fa.fa-circle ng-class='{active: activeIndex == 2}'
        i.fa.fa-circle ng-class='{active: activeIndex == 3}'
      li
        i.fa.step ng-class='{unstart: step < 4, underway: step == 4, completed: step > 4, "fa-check-circle": step > 4, "fa-circle-o": step <= 4}'
        div.text-center 重 启
      li.animation ng-class='{active: step == 4}'
        i.fa.fa-circle ng-class='{active: activeIndex == 1}'
        i.fa.fa-circle ng-class='{active: activeIndex == 2}'
        i.fa.fa-circle ng-class='{active: activeIndex == 3}'
      li
        i.fa.step ng-class='{unstart: step < 5, underway: step == 5, completed: step > 5, "fa-check-circle": step > 5, "fa-circle-o": step <= 5}'
        div.text-center 完 成
    .alert.alert-info 升级过程将会持续 1-10 分钟，请不要断开电源和网络连接。

.modal.fade#maint_confirm_modal
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button type='button' class='close' data-dismiss='modal'
          span aria-hidden='true' &times;
          span.sr-only Close
        h4.modal-title 确认
      .modal-body ng-bind='confirm_content'
      .modal-footer
        button.btn.btn-default type='button' data-dismiss='modal' 取 消
        button.btn.btn-primary type='button' ng-click='reset_or_reboot($event)' data-loading-text="操作中..." 确 定