<h3>
    <span class="headicon headicon-osd"></span>OSD
</h3>
<ol class="breadcrumb">
    <li><i class="fa fa-home fa-lg"></i>&nbsp;<span>参数设置</span></li>
    <li class="action">OSD</li>
    <li class="active">OSD</li>
</ol>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-success" ng-click="show_add_modal('main')">
                <i class="fa fa-plus"></i> 添加主码流OSD
            </button>
            <button class="btn btn-sm btn-success" ng-click="show_add_modal('sub')">
                <i class="fa fa-plus"></i> 添加次码流OSD
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="users-wrap">
                <table class="table table-hover table-striped users">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>位置</th>
                            <th>背景色</th>
                            <th>前景色透明度</th>
                            <th>背景色透明度</th>
                            <th>反色开关</th>
                            <th>文本/日期格式</th>
                            <th>字体</th>
                            <th>字体颜色</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td ng-bind="typeMap[item.Type]"></td>
                            <td ng-bind="'x: ' + item.Position.x + ', y: ' + item.Position.y"></td>
                            <td>
                                <div class="color-box" style="background-color: rgba({{item.BgColor.red}}, {{item.BgColor.green}}, {{item.BgColor.blue}}, {{item.BgColor.alpha}});"></div>
                                rgba({{item.BgColor.red}}, {{item.BgColor.green}}, {{item.BgColor.blue}}, {{item.BgColor.alpha}})
                            </td>
                            <td ng-bind="item.FgAlpha"></td>
                            <td ng-bind="item.BgAlpha"></td>
                            <td ng-bind="item.InvertColor ? '开' : '关'"></td>
                            <td ng-bind="item.Text"></td>
                            <td ng-bind="item.FontName"></td>
                            <td class="operation">
                                <a class="fa fa-edit fa-lg" href="javascript:;" ng-click="show_edit_modal(item)" title="修改"></a>
                                <a class="fa fa-trash-o fa-lg" href="javascript:;" ng-click="show_delete_modal(item)" title="删除"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="osd_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" ng-bind="add_title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">类型</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="form_data.Type">
                                <option value="DATE">日期</option>
                                <option value="TEXT">文本</option>
                                <option value="IMAGE">图像</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">位置</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">X</span>
                                <input type="number" class="form-control" ng-model="form_data.Position.x">
                                <span class="input-group-addon">Y</span>
                                <input type="number" class="form-control" ng-model="form_data.Position.y">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">背景色</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control color-text" readonly="readonly" type="text" />
                                <div class="input-group-addon" ng-color="" ng-model="form_data.BgColor">
                                    <div class="color-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">背景色透明度</label>
                        <div class="col-sm-6">
                            <div id="bg_alpha_slider" min="0" max="128" ng-model="form_data.BgAlpha" ng-slider=""></div>
                        </div>
                        <div class="col-sm-3">
                            <p class="form-control-static">
                                <span ng-bind="form_data.BgAlpha"></span>&nbsp;(0 - 128)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">前景色透明度</label>
                        <div class="col-sm-6">
                            <div id="fg_alpha_slider" min="0" max="128" ng-model="form_data.FgAlpha" ng-slider=""></div>
                        </div>
                        <div class="col-sm-3">
                            <p class="form-control-static">
                                <span ng-bind="form_data.FgAlpha"></span>&nbsp;(0 - 128)
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">反色开关</label>
                        <div class="col-sm-8">
                            <input type="checkbox" ng-bswitch="" ng-model="form_data.InvertColor" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'DATE'">
                        <label class="control-label col-sm-3">日期格式</label>
                        <div class="col-sm-8">
                            <div class="input-group" ng-show="form_data.Type == 'DATE'">
                                <input type="text" class="form-control" ng-model="form_data.Text" />
                                <div class="input-group-addon">例如：%D %T</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'TEXT'">
                        <label class="control-label col-sm-3">文本</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="form_data.Text" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'DATE' || form_data.Type == 'TEXT'">
                        <label class="control-label col-sm-3">字体</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="form_data.FontFamily" ng-options="item.family as item.family for item in font_list"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'DATE' || form_data.Type == 'TEXT'">
                        <label class="control-label col-sm-3">字号/样式</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" ng-model="form_data.FontSize" />
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="form_data.FontStyle" ng-options="item.style as item.style for item in font_list"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'DATE' || form_data.Type == 'TEXT'">
                        <label class="control-label col-sm-3">字体颜色</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control color-text" readonly="readonly" type="text" />
                                <div class="input-group-addon" ng-color="" ng-model="form_data.FontColor">
                                    <div class="color-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="form_data.Type == 'IMAGE'">
                        <label class="control-label col-sm-3">图片</label>
                        <div class="col-sm-8">
                            <input id="image_path" type="file" accept="image/bmp, image/png" class="form-control" ng-fileread ng-model="form_data.ImagePath" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="text-danger pull-left" ng-bind="form_valid_msg"></span>
                <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                <button class="btn btn-primary" data-loading-text="操作中..." ng-click="add_or_edit_osd($event)" type="button">确 定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="osd_confirm_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">确定要删除该OSD项吗？</div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                <button class="btn btn-primary" data-loading-text="删除中..." ng-click="delete_osd($event)" type="button">确 定</button>
            </div>
        </div>
    </div>
</div>