<h3>
    <span class="headicon headicon-osd"></span>OSD
</h3>
<ol class="breadcrumb">
    <li><i class="fa fa-home fa-lg"></i>&nbsp;<span>参数设置</span></li>
    <li class="action">OSD</li>
    <li class="active">OSD</li>
</ol>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-success" ng-click="show_add_modal()">
                <i class="fa fa-plus"></i> 添加主码流项
            </button>
            <button class="btn btn-sm btn-success" ng-click="show_add_modal()">
                <i class="fa fa-plus"></i> 添加子码流项
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="users-wrap">
                <table class="table table-hover table-striped users">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>位置</th>
                            <th>背景色</th>
                            <th>前景色透明度</th>
                            <th>背景色透明度</th>
                            <th>反色开关</th>
                            <th>文本/日期格式</th>
                            <th>字体</th>
                            <th>字体颜色</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="fa fa-edit fa-lg" href="javascript:;" ng-click="show_edit_modal(item)" title="修改"></a>
                                <a class="fa fa-trash-o fa-lg" href="javascript:;" ng-click="show_delete_modal(item)" title="删除"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<!-- <ul class="nav nav-tabs" role="tablist">
    <li ng-class="{active: osd_type == 0}">
        <a href="javascript:;" ng-click="changeOsd(0)">主码流</a>
    </li>
    <li ng-class="{active: osd_type == 1}">
        <a href="javascript:;" ng-click="changeOsd(1)">次码流</a>
    </li>
</ul>
<form class="form-horizontal form-ipc clearfix" role="form">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>设备名称</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="device_name_isshow">显示</label>
                    <div class="col-sm-6">
                        <input id="device_name_isshow" ng-bswitch="" ng-model="device_name.isshow" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="device_name_size">字号</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="device_name_size" max="100" min="1" ng-model="device_name.size" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="device_name_left">左边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="device_name_left" max="100" min="0" ng-model="device_name.left" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="device_name_top">上边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="device_name_top" max="100" min="0" ng-model="device_name.top" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">颜色</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm color-text" readonly="readonly" type="text" />
                            <div class="input-group-addon" ng-color="" ng-model="device_name.color">
                                <div class="color-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>设备说明</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="comment_isshow">显示</label>
                    <div class="col-sm-6">
                        <input id="comment_isshow" ng-bswitch="" ng-model="comment.isshow" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="comment_size">字号</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="comment_size" max="100" min="1" ng-model="comment.size" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="comment_left">左边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="comment_left" max="100" min="0" ng-model="comment.left" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="comment_top">上边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="comment_top" max="100" min="0" ng-model="comment.top" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">颜色</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm color-text" readonly="readonly" type="text" />
                            <div class="input-group-addon" ng-color="" ng-model="comment.color">
                                <div class="color-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>帧率</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="frame_rate_isshow">显示</label>
                    <div class="col-sm-6">
                        <input id="frame_rate_isshow" ng-bswitch="" ng-model="frame_rate.isshow" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="frame_rate_size">字号</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="frame_rate_size" max="100" min="1" ng-model="frame_rate.size" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="frame_rate_left">左边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="frame_rate_left" max="100" min="0" ng-model="frame_rate.left" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="frame_rate_top">上边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="frame_rate_top" max="100" min="0" ng-model="frame_rate.top" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">颜色</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm color-text" readonly="readonly" type="text" />
                            <div class="input-group-addon" ng-color="" ng-model="frame_rate.color">
                                <div class="color-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>码率</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bit_rate_isshow">显示</label>
                    <div class="col-sm-6">
                        <input id="bit_rate_isshow" ng-bswitch="" ng-model="bit_rate.isshow" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bit_rate_size">字号</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="bit_rate_size" max="100" min="1" ng-model="bit_rate.size" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bit_rate_left">左边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="bit_rate_left" max="100" min="0" ng-model="bit_rate.left" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bit_rate_top">上边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="bit_rate_top" max="100" min="0" ng-model="bit_rate.top" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">颜色</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm color-text" readonly="readonly" type="text" />
                            <div class="input-group-addon" ng-color="" ng-model="bit_rate.color">
                                <div class="color-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>日期时间</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="datetime_isshow">显示</label>
                    <div class="col-sm-6">
                        <input id="datetime_isshow" ng-bswitch="" ng-model="datetime.isshow" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="datetime_size">字号</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="datetime_size" max="100" min="1" ng-model="datetime.size" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="datetime_left">左边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="datetime_left" max="100" min="0" ng-model="datetime.left" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="datetime_top">上边距</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm" id="datetime_top" max="100" min="0" ng-model="datetime.top" type="text" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">颜色</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control input-sm color-text" readonly="readonly" type="text" />
                            <div class="input-group-addon" ng-color="" ng-model="datetime.color">
                                <div class="color-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <p class="text-danger" ng-bind="valid_msg"></p>
    </div>
</form> -->
<form class="form-horizontal form-ipc-footer" role="form">
    <div class="form-group clearfix">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" data-loading-text="保存中..." ng-click="save($event)" type="button">保 存</button>
        </div>
    </div>
</form>

<div class="modal fade" id="osd_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" ng-bind="add_title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="user_name">用户名</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="user_name" ng-disabled="operate_type == &quot;edit&quot;" ng-model="add_user_name" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">密 码</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="password" ng-model="add_password" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="role">角 色</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="role" ng-model="add_role">
                                <option value="administrator">administrator</option>
                                <option value="operator">operator</option>
                                <option value="user">user</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="text-danger pull-left" ng-bind="add_user_msg"></span>
                <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                <button class="btn btn-primary" data-loading-text="操作中..." ng-click="add_or_edit_user($event)" type="button">确 定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="osd_confirm_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">确定要删除该用户吗？</div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">取 消</button>
                <button class="btn btn-primary" data-loading-text="删除中..." ng-click="delete_user($event)" type="button">确 定</button>
            </div>
        </div>
    </div>
</div>