h3
  span class='headicon headicon-output'
  | 报警输出
= render 'setting_breadcrumb', menu: '事件管理', sub_menu: '报警输出'

form.form-horizontal.form-ipc role='form'
  = render 'field_switch', id: 'output1_normal', label_text: '正常状态', ontext: '开路', offtext: '闭路'
  = render 'field_switch', id: 'output1_trigger', label_text: '触发状态', ontext: '开路', offtext: '闭路'
  = render 'field_group', id: 'output1_period', cls: 'input-sm', label_text: '保持时间', addon_text: '(1 - 3600) 秒'
  / = render 'field_switch', id: 'output2_normal', label_text: 'Output2 normal'
  / = render 'field_switch', id: 'output2_trigger', label_text: 'Output2 trigger'
  / = render 'field_group', id: 'output2_period', cls: 'input-sm', label_text: 'Output2 period', addon_text: '(1 - 3600) Secs'

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'