h3
  span class='headicon headicon-port'
  | 端口设置
= render 'setting_breadcrumb', menu: '网络设置', sub_menu: '端口设置'

form.form-horizontal.form-ipc role='form'
  = render 'field', id: 'http_port', type: 'number', label_text: 'HTTP'
  = render 'field', id: 'ftp_port', type: 'number', label_text: 'FTP'
  = render 'field', id: 'rtsp_port', type: 'number', label_text: 'RTSP'
  .form-group
    .col-sm-offset-3.col-sm-9
      p.text-danger ng-bind='common_msg'

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'