h3
  span class='headicon headicon-szyc'
  | SZYC
= render 'setting_breadcrumb', menu: 'OSD', sub_menu: 'SZYC'

form.form-horizontal.form-ipc.clearfix role='form'
  = render 'field', id: 'train_num', label_text: '车体号'
  = render 'field_group', id: 'position_num', label_text: '位置', addon_text: '1 - 8'
  .row
    .col-md-offset-3.col-sm-9
      .text-danger
        | 修改车体号和位置,设备地址会发生变化.


form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'
