h3
  span class='headicon headicon-user'
  | 用户管理
= render 'setting_breadcrumb', menu: '系统管理', sub_menu: '用户管理'

form.form-horizontal.form-ipc role='form'
  .form-group
    .col-sm-12
      label.switch-label 视频访问认证
      input#authentication_switch ng-bswitch='' type='checkbox' name='rtsp_auth' ng-model='rtsp_auth'
      button.btn.btn-sm.btn-success.new-user data-target='.add-user-modal' ng-click='show_add_modal()'
        = fa_icon 'user'
        = fa_icon 'plus'
        | &nbsp;&nbsp;&nbsp;添加
  .form-group
    .col-sm-12
      .users-wrap
        table.table.table-hover.table-striped.users
          thead
            tr
              th 用户名
              th 角色
              th 操作
            tr
          tbody
            tr ng-repeat='item in items'
              td ng-bind='item.username'
              td ng-bind='item.role'
              td.operation
                a href='javascript:;' title='Edit' ng-click='show_edit_modal(item)' = fa_icon 'edit lg'
                a href='javascript:;' title='Delete' ng-click='show_delete_modal(item)' = fa_icon 'trash-o lg'

form.form-horizontal.form-ipc-footer role='form'
  = render 'save_button'

.modal.fade#user_modal
  .modal-dialog
    .modal-content
      .modal-header
        button type='button' class='close' data-dismiss='modal'
          span aria-hidden='true' &times;
          span.sr-only Close
        h4.modal-title ng-bind='add_title'
      .modal-body
        form.form-horizontal
          .form-group
            label.control-label.col-sm-3 for='user_name' 用户名
            .col-sm-8
              input.form-control type='text' id='user_name' ng-model='add_user_name' ng-disabled='operate_type == "edit"'
          .form-group
            label.control-label.col-sm-3 for='password' 密 码
            .col-sm-8
              input.form-control type='password' id='password' ng-model='add_password'
          .form-group
            label.control-label.col-sm-3 for='role' 角 色
            .col-sm-8
              select.form-control id='role' ng-model='add_role'
                option value='administrator' administrator
                option value='operator' operator
                option value='user' user
      .modal-footer
        span.text-danger.pull-left ng-bind='add_user_msg'
        button.btn.btn-default type='button' data-dismiss='modal' 取 消
        button.btn.btn-primary type='button' ng-click='add_or_edit_user($event)' data-loading-text="操作中..." 确 定

.modal.fade#confirm_modal
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button type='button' class='close' data-dismiss='modal'
          span aria-hidden='true' &times;
          span.sr-only Close
        h4.modal-title 确认
      .modal-body 确定要删除该用户吗？
      .modal-footer
        button.btn.btn-default type='button' data-dismiss='modal' 取 消
        button.btn.btn-primary type='button' ng-click='delete_user($event)' data-loading-text="删除中..." 确 定