<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="zh-cn" id="ng-app" ng-app='ipcApp'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>高清网络摄像机</title>
    <link rel="stylesheet" href="/js/components/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/js/components/angular/angular-csp.css">
    <link rel="stylesheet" href="/js/components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/js/components/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/js/components/jquery-nouislider/jquery-nouislider.css">
    <link rel="stylesheet" href="/js/components/jquery-icheck/jquery-icheck.css">
    <link rel="stylesheet" href="/js/components/bootstrap-colorpicker/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/js/components/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/js/components/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/components/jquery/jquery.js"></script>
    <script src="/js/components/bootstrap/bootstrap.js"></script>
    <script src="/js/components/angular/angular.js"></script>
    <script src="/js/components/jquery-ui/jquery-ui.js"></script>
    <script src="/js/components/moment/moment.js"></script>
    <script src="/js/components/moment/locale/zh-cn.js"></script>
    <script src="/js/components/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/js/components/bootstrap-colorpicker/bootstrap-colorpicker.js"></script>
    <script src="/js/components/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="/js/components/jquery-icheck/jquery-icheck.js"></script>
    <script src="/js/components/jquery-nouislider/jquery-nouislider.js"></script>
    <script src="/js/components/jquery-timegantt/jquery-timegantt.js"></script>
    <script src="/js/components/jquery-ajaxfileupload/jquery-ajaxfileupload.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/components/respond/respond.js"></script>
    <![endif]-->
    <script src="/js/assets/app.js"></script>
    <script src="/js/assets/settings.js"></script>
</head>
<body>
    <div class="navbar navbar-ipc" role="navigation" ng-controller="navbarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <img alt="logo" src="/images/logo.png">
                </a>
                <p class="navbar-text">高清网络摄像机</p>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home"><i class="fa fa-video-camera"></i> 实时预览</a>
                </li>
                <li class="active" ng-if="role=='administrator'">
                    <a href="/settings"><i class="fa fa-cog"></i> 参数设置</a>
                </li>
                <li ng-if="role=='administrator'||role=='operator'">
                    <a href="/system"><i class="fa fa-info-circle"></i> 系统信息</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">
                    <span ng-bind="username"></span>，<span ng-bind="userrole"></span>
                </li>
                <li>
                    <a href="javascript:;" ng-click="logout()"><i class="fa fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <!--#include virtual="_content.html" -->
    </div>
</body>
</html>